a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size:24px;
  line-height: 1.3;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.container{
  max-width: 1840px;
  padding: 0 10px;
  margin:0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  &__top {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

   &__content {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: calc(100vh - 120px);
     position: relative;


   }

  &__images {
      position: absolute;
      left: 0;
      right: 0;
      top: 50px;
      bottom: 0;
      margin: auto;
      max-width: 100%;

  }
}

.menu {

  &__btn {
    width: 70px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    & span {
      background-color:#FF5017;
      height: 3px;
      width: 100%;
      border:1px solid black;
      box-sizing: content-box;
    }
  }
}

.title {
  font-size: 345px;
  background: linear-gradient(180deg, #000000 0%, #830B02 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-left: 150px;
  line-height: 0.8;
}

.subtitle {
  font-size: 160px;
  background: linear-gradient(90deg, #FF5017 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  align-self: end;
  padding-right: 75px;
  padding-bottom: 50px;
}

.info {
  background-color: #F8F8F8;
  padding-block: 170px;

  &__img {
    margin:0 auto;
    max-width: 100%;
  }

  &__content {
    display: flex;
    margin-bottom: 170px;
    padding-inline: 155px 100px;
    gap:94px;
  }
  &__list {
    column-count: 2;
    gap:140px;

    & dt, & dd {
      display: inline-block;
      margin-left:0;
    }

    &-line {
      margin-bottom: 22px;
    }
  }

  &__title {
    font-size: 35px;
    text-align: center;
    line-height: 0.8;
    font-size:160px;
    text-transform: uppercase;
  }

  &__galery {
    display: flex;
    flex-wrap:wrap;
    gap:20px;

    & img {
      max-height: 100%;
    }
  }
}

.price {
  font-size: 36px;
  margin-bottom: 40px;
}

.order-box {

}

.order {
  padding: 30px 60px;
  background: #FF5017;
  transition: all 0.3s ease;
  text-transform: uppercase;

  &:hover {
    background: #cd3402;
  }
}

.color {
  background-color: #F8F8F8;

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size:160px;
    margin-bottom: 70px;
  }


  &__gallery {
    background-color: #13171C;


    &__start, &__end {
      width: 100%;
    }
  }
}

.gallery-box {
    display: flex;
    padding-inline: 50px;
    padding-block:170px;
    gap:20px;

  &__item {
    border-radius: 20px;
  }

  &__text {
    margin-top:20px;
    text-align: center;
    color:white;
    font-size:36px;
    text-transform: uppercase;
  }
}

.footer {
  background-color: #13171C;

  &__container {
    min-height: auto;
  }

  &__title {
    font-size: 36px;
    color:#FF5017;
    text-align:center;
    padding-top:170px;
  }

  &__link {
    color:#FFFFFF;
    margin-block:110px 87px;
    text-align:center;
  }
}

.contacts {
  display: flex;
  margin-top:70px;
  gap:40px 200px;
  color:white;
  padding-left: 300px;
  padding-right: 150px;

  &__title {
    color:#BCBCBC;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__phone {
    color:white;
  }

  &__text-rules {
    margin-bottom: 20px;
    margin-top:77px;
    font-size: 14px;
    max-width:330px;

  }

  &__text {
    margin-bottom: 20px;
    max-width: 477px;
  }

  &__info {
    max-width: 565px;
  }
  &__form {
  }

}

.form {
  flex-basis: 594px;

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding:10px;
    color:white;
    background-color: transparent;
    text-transform: uppercase;
    border:none;
    border-bottom:1px solid white;


    &::placeholder {
      color:white;
    }
    &:focus {
      outline:none;
    }
  }

  &__btn {
    width: 100%;
  }
}

@media (max-width: 1860px) {
  .info__galery{
    gap:24px 20px;

    & img {
      width: 48%;
    }
  }

}

@media (max-width: 1600px) {
  .contacts {
    padding-left: 150px;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 280px;
    padding-left: 0;
  }
  .subtitle {
    font-size: 140px;
  }
  .header__images {
    top: 0;
  }

  .info {
    padding-block: 100px; ;
    &__title {
      font-size: 90px;
    }

    &__content {
      padding-inline: 0;
      margin-bottom: 100px;
      gap:20px;
    }

    &__list {
      gap:60px
    }
  }

  .order {
    padding: 20px 50px;
  }

  .color {

    &__title {
      font-size: 100px;
      margin-bottom: 40px;
    }
  }

  .gallery-box {
    padding-inline: 20px;
    padding-block: 50px;
    gap: 12px;
    flex-wrap:wrap;
    justify-content: space-between;

    &__item {
      width: 48%;
    }

    & img {
      width: 100%;
      border-radius: 30px;
    }
  }

  .footer {

    &__title {
      padding-top: 100px;
    }

    &__link {
      margin-block: 80px 60px;
    }
  }

  .contacts {
    padding-inline: 10px;
    column-gap: 60px;
  }

}

@media (max-width: 1040px) {
  .info__galery img {
    width: 100%;
  }

  .info__content {
    margin-bottom: 50px;
  }

  .order {
    padding: 20px 50px;
  }

  .footer{

    &__title {
      padding-top: 60px;
    }

    &__link {
      margin-block: 50px 40px;
    }
  }

  .contacts {

    &__title {
      font-size: 25px;
    }

    &__text {
      margin-bottom: 12px;
      font-size: 20px;

      &-rules {
        font-size: 16px;
        margin-top: 50px;
      }
    }
  }


}

@media (max-width: 800px) {
  .title {
    font-size: 170px;
    padding-left: 0;
  }
  .subtitle {
    font-size: 90px;
  }
  .header__top {
    padding-top: 25px;

  }

  .info {
    padding-top: 100px;

    &__title {
      font-size: 54px;
    }

    &__list {
      column-count: 1;

      &-line {
        margin-bottom: 10px;
        font-size: 18px;
      }
    }

    &__content {
      padding-inline: 0;
      margin-bottom: 30px;
      gap:20px;
    }

    &__list {
      gap:60px
    }
  }


  .price {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .contacts {
    display: block;

  }

}

@media (max-width: 670px) {
  .info {
    padding-block: 50px;
  }

  .info__content{
    display: block;
    text-align: center;
  }

  .gallery-box__item {
    width: 100%;
  }

}

@media (max-width: 500px) {
  .title {
    font-size: 125px;
  }
  .subtitle {
    font-size: 65px;
    padding-right: 0;
    //align-self: center;
  }
  .header__top {
    padding-top: 10px;
  }

  .info {

    &__title {
      font-size: 44px;
    }

    &__list {

      &-line {
        margin-bottom: 8px;
        font-size: 16px;
      }
    }
  }

  .order {
    padding: 15px 40px;
  }

  .color__title {
    font-size: 32px;
  }

  .footer {

    &__title {
      padding-top: 30px;
      font-size: 33px;
    }

    &__link {
      margin-block: 40px 30px;
      font-size: 25px;
    }
  }

  .contacts {
    &__title {
      font-size: 22px;
    }

    &__text {
      font-size: 17px;

      &-rules {
        font-size: 17px;
        margin-top: 40px
      }
    }
    &__phone {
      font-size:20px
    }
  }

  .form {
    &__input {
      font-size: 20px;
      &::placeholder {
        font-size: 20px;
      }
    }
  }

}
